@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #0e0d0d;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  padding-top: 60px;
  color:rgb(29, 155, 240) ;
}

.heading p {
  color: black
}

.goals {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 1px;
  border-top: 1px solid #e6e6e6;
}

.goal {
  
  /* background-color: #f4f4f4; */
  margin:  0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}
.logo{
  padding-left: 100px;
}
.form{
  width: 100%;
display: inline;

}
.form,
.content {
  width: 100%;
  margin: 0 auto;
  
}

.form-group {
  margin-bottom: 10px;
  /* /* display: flex;
  float: left; */
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 800px;
  height: 70px;
  margin-left: 0;
  /* margin-bottom: 40px; */
  padding: 10px;
  border: 1px solid #e6e6e6;
  /* background-color: #f4f4f4; */
  border-radius: 5px;
  margin-bottom: 0px;
  font-family: inherit;
}
.form-field input{
  width: 800px;
  height: 70px;
  margin-left: 0;
  margin-bottom: 40px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 0px;
  font-family: inherit;
}
.field-btn{
  margin-left: 680px;
  padding: 4px;
  width: 12%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border:rgb(29, 155, 240);
  border-radius: 20px;
  background-color:  rgb(29, 155, 240);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  height: 45px;
  text-align: center;
  margin-right: 40px;
  align-items: center;
  justify-content: center;
}



.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border:rgb(29, 155, 240);
  border-radius: 20px;
  background-color:  rgb(29, 155, 240);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  height: 45px;
  text-align: center;
  appearance: button;
  display: flex;
  margin-right: 40px;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  margin-left: 480px;
  padding: 4px;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
  .mainPage{
    width: 100px;
  }
.navbar-expand{
  width: 100px;
}
}
.navbar-expand{
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  margin-top: 0%;
  border-right: 1px solid #e6e6e6;
  background-color: #ffffff;
  width: 300px;
  /* height: 1000px; */
}
/* .post{
  padding: 10px;
  background-color:  rgb(29, 155, 240);
  margin-left: 50px;
  height: 50px;
  border-radius: 50px;
  border: rgb(29, 155, 240) ;
  width: 200px;
  margin-top: 150px;
  font-size: 20px;
  color: #fff;
} */
.navitems{
  padding-top: 80px;
  padding-left: 50px;
  width: 0;
  top: 0;
  left: 0;
}
.navitems li{
  margin-left: 0px;
  
}
.navlist{
  cursor: pointer;
  display:inline-flex;
  padding: auto;
  
  padding: 15px;
  padding-right: 10px;
}
.navlist:hover{
  background-color: #f5f5f5;
  width: 200px;

  margin-left: 0px;
  border-radius: 100px;
}
.mainPage{
  display: flex;
}
.mainpge{
  width: 900px;
}
.mainPage{
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.mainhead{

  padding-top: 10px; 
  width: 900px;
  height: 70px;
  /* border-bottom: 1px solid #e6e6e6; */
}